

@media (min-width: 576px) {

}

html, body {
	height: 100%;
}

.main {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 0;
}

#control-box {
	display: block;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	width: 100%;
	height: 100%;
}

#namer {
	margin-top: 20%;
	margin-left: 12%;
	z-index: 20;
}

.panel-1 {
	align-content: center;
	background: url('salad.jpg') no-repeat;
	background-size: cover;
}

.panel-1:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .4;
}

.panel-2 {
	color: white;
}

#camera-box {
	width: 65%;
	height: 100%;
	background-color: white;
}

#but-box {
	display: block;
	padding: 10px 0 3px 15px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 5px;
	width: 20%;
	bottom: 1%;
	left: 15%;
	z-index: 15;
	position: absolute;
}

.cam-but {
	display: inline-block;
	width: 30%;
	cursor: pointer;
}

.cam-but img{
	width: 100%;
	height: auto;
}

#info-box {
	background-color: orange;
	width: 35%;
	height: 100%;
}

#info {
	display: block;
	height: 10%;
	width: 100%;
	padding-left: 5px;
	margin-bottom: 10px;
}

#facts {
}

#facts table {
	height: 100%;
	overflow-y: scroll;
}

#photo {
	z-index: 15;
	display: flex;
	height: 28%;
	width: 100%;
	padding-top: 10px;
	align-items: center;
	justify-content: center;
}

.showcase {
	border: 2px solid white;
	width: 30%;
	flex-wrap: nowrap;
	flex-grow: 1;
	display: inline-block;
	margin: auto;
}

.showcase img {
	width: 100%;
	height: auto;
}

#nut-info {
	color: white;
	display: block;
	height: 60%;
	width: 100%;
	padding-left: 5px;
	border-top:2px dashed white;
}

.panel-3 {
	background-color: maroon;
}

#person-info {
	height: 100%;
	width: 40%;
	margin: auto;
}

#cal-count {
	background-color: blue;
	height: 30%;
	width: 100%;
}

#history {
	background-color: grey;
	height: 60%;
	width: 100%;
}

#graph {
	width: 60%;
	height: 100%;
	background-color: teal;
}


.centered {
	display: block;
	/*text-align: center;*/
	margin: auto 0;
}

.large-text {
	margin-left: 5%;
	z-index: 10;
	color: white;
}

#title {
	font-family: 'Lobster', cursive;
	font-size: 12em;
	margin-bottom: 5%;
}

#subtext {
	font-family: 'Roboto', sans-serif;
	margin-left: 5%;
}
